.search-bar {
    display: inline-block;
    border-radius: 20px;
    padding: 1rem 0;
    box-shadow: 0 0 10px -5px black;
    background-color: white;
    
    input {
        float: left;
        margin-left: 1em;
        border: 0;
    }

    input:focus {
        outline: none;
    }
    
    .search-icon {
        display: block;
        float: right;
        margin-right: 0.3em;
        cursor: pointer;
    }
}